<div class="main_content_frame" style="margin-bottom: 50px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 zero_left_padding_override">
        <div class="media">
          <div class="media-left">
            <img src="./assets/logo_160px_wide.png" class="media-object">
          </div>

        </div>

      </div>
      <div class="col-md-9 zero_left_padding_override">
        <label class="generic_title_grey">Create a Custom Poll</label>

      </div>
    </div>
  </div>
</div>
