<form [formGroup]="optionForm" (ngSubmit)="submitVote()">
  <div>
    <label class="take-poll-question">{{pollQuestion}}</label>
    <label *ngFor="let optionName of optionNames" style="width: 100%; padding: 0px; margin-bottom: 10px">
      <div style="display: table">
        <div class="take-poll-option-check-box">
        <input type="checkbox" (change)="selectedOption(optionName, $event.target.checked)">
        </div>
        <div class="take-poll-option-text">
          <label class="take-poll-option-text-label">
            {{optionName}}
          </label>
        </div>
      </div>
    </label>
  </div>
  <div class="create-poll-submit-button">
    <input type="submit" class="generic_submit_button" value="Submit Vote">
  </div>
</form>
