
<!--<div class="modal-header">-->
<!--  <h4 class="modal-title">Form Error!</h4>-->
<!--&lt;!&ndash;  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">&ndash;&gt;-->
<!--&lt;!&ndash;    <span aria-hidden="true">&times;</span>&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->
<div class="modal-content">
  <div class="modal-body">
    <!--  <p>Hello, {{name}}!</p>-->
    <h4 class="modal-title">Form Error!</h4>
    <ul>
      <li>Poll Question: Question must have at least two words.</li>
      <li>Poll Options: A minimum of 2 poll options are required.</li>
    </ul>
    <button type="button"  style="position:absolute; left: 0;" (click)="activeModal.close('Close click')" >Okay</button>
  </div>
  <!--<div class="modal-footer">-->
  <!--&lt;!&ndash;  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" >Okay</button>&ndash;&gt;-->
  <!--  <button type="button"  style="position:absolute; left: 0;" (click)="activeModal.close('Close click')" >Okay</button>-->
</div>
