<app-contatiner class="generic_title_color" [message]="aboutMessage">
  <div>
    <label class="about-question">
      QuickPoll and Make Voting Count Inc.
    </label>
    <label class="about-answer">
      QuickPoll is a polling application developed by Make Voting Count Inc.,
      a New York City-based nonprofit organization that advocates for electoral reform.
      <br>
      <br>
      QuickPoll provides a means of reaching group consensus through a voting method known as
      approval voting. Check out our Lean More page for information on how even small
      electoral reforms can change our electoral system for the better.
      <br>
      <br>
      To contact us, or to learn more, visit
      <a class="about-message-link" style="font-family: Verdana; font-size: 12px; font-weight: normal" href="https://www.facebook.com/MobPoll"> MobPoll</a> and
      <a class="about-message-link" style="font-family: Verdana; font-size: 12px; font-weight: normal" href="https://www.facebook.com/MakeVotingCount">Make Voting Count</a> on Facebook.
    </label>
  </div>
  <div style="margin-top: 25px">
    <label class="about-question">
      Terms of Service and Privacy Policy
    </label>
    <label class="about-answer">
      By using QuickPoll you agree to our
      <a class="about-message-link" style="font-family: Verdana; font-size: 12px; font-weight: normal" href="/terms_of_service"> Terms of Service</a>
      and
      <a class="about-message-link" style="font-family: Verdana; font-size: 12px; font-weight: normal" href="/terms_of_service">Privacy Policy</a>.
    </label>
  </div>

</app-contatiner>
