<form class="create-poll-form-class" id="create-poll-form-id">
  <div>
    <form>
      <div class="form-group">
        <div class="form_item_spacer">
          <label class="control-label form_label_text" for="create-poll-form-id">
            <span style="color: white">Enter</span>
            <span style="color: #FF9E13">Poll Question</span>
            <span class="form-item-error-marker-hidden" id="create-poll-question-error-marker-id">X</span>
          </label>
          <input type="text" class="form-control"
                 id="create-poll-question-id" name="question" placeholder="Your poll question">
        </div>
        <div class="form-group">
          <label for="option-1" class="control-label from_label_text">
            <span style="color: white">Enter</span>
            <span style="color: #FF9E13">Option 1</span>
            <span class="form-item-error-marker-hidden" id="option-error-marker-id-1">X</span>
          </label>
          <div style="display: table; width: 100%">
            <div class="create-poll-option-text-input-div">
              <input type="text" class="form-control form_input_field"
                     id="option-1" name="option" placeholder="Your poll option">

            </div>
            <div class="create-poll-option-image-input-div">
              <input type="file"
                     class="image-asset-file-system-upload"
                     name="image" id="image-asset-file-system-upload-1" style="position: fixed; top: -1000px">
              <input type="button" value="Choose File">
              <a href="#">
                <div class="poll-option-image" id="poll-option-image-1"
                     style="
                         -webkit-clip-path: circle(50% at 50% 50%);
                         border-radius: 50%;
                         clip-path: circle(50% at 50% 50%);
                         background-image: url('src/assets/upload-pic-icon-orange.png');
                         background-size: cover; background-repeat: no-repeat;
                         background-position: 50% 50%; height: 32px; width: 32px; float: right;">

                </div>
              </a>
            </div>

          </div>

        </div>
        <div class="form-group">
          <label for="option-2" class="control-label from_label_text">
            <span style="color: white">Enter</span>
            <span style="color: #FF9E13">Option 1</span>
            <span class="form-item-error-marker-hidden" id="option-error-marker-id-2">X</span>
          </label>
          <div style="display: table; width: 100%">
            <div class="create-poll-option-text-input-div">
              <input type="text" class="form-control form_input_field"
                     id="option-2" name="option" placeholder="Your poll option">

            </div>
            <div class="create-poll-option-image-input-div">
              <input type="file"
                     class="image-asset-file-system-upload"
                     name="image" id="image-asset-file-system-upload-2" style="position: fixed; top: -1000px">
              <input type="button" value="Choose File">
              <a href="#">
                <div class="poll-option-image" id="poll-option-image-2"
                     style="
                         -webkit-clip-path: circle(50% at 50% 50%);
                         border-radius: 50%;
                         clip-path: circle(50% at 50% 50%);
                         background-image: url('src/assets/upload-pic-icon-orange.png');
                         background-size: cover; background-repeat: no-repeat;
                         background-position: 50% 50%; height: 32px; width: 32px; float: right;">

                </div>
              </a>
            </div>

          </div>

        </div>
        <div class="form-group">
          <label for="option-3" class="control-label from_label_text">
            <span style="color: white">Enter</span>
            <span style="color: #FF9E13">Option 1</span>
            <span class="form-item-error-marker-hidden" id="option-error-marker-id-3">X</span>
          </label>
          <div style="display: table; width: 100%">
            <div class="create-poll-option-text-input-div">
              <input type="text" class="form-control form_input_field"
                     id="option-3" name="option" placeholder="Your poll option">

            </div>
            <div class="create-poll-option-image-input-div">
              <input type="file"
                     class="image-asset-file-system-upload"
                     name="image" id="image-asset-file-system-upload-3" style="position: fixed; top: -1000px">
              <input type="button" value="Choose File">
              <a href="#">
                <div class="poll-option-image" id="poll-option-image-3"
                     style="
                         -webkit-clip-path: circle(50% at 50% 50%);
                         border-radius: 50%;
                         clip-path: circle(50% at 50% 50%);
                         background-image: url('src/assets/upload-pic-icon-orange.png');
                         background-size: cover; background-repeat: no-repeat;
                         background-position: 50% 50%; height: 32px; width: 32px; float: right;">

                </div>
              </a>
            </div>

          </div>

        </div>
        <div class="form-group">
          <label for="option-4" class="control-label from_label_text">
            <span style="color: white">Enter</span>
            <span style="color: #FF9E13">Option 1</span>
            <span class="form-item-error-marker-hidden" id="option-error-marker-id-4">X</span>
          </label>
          <div style="display: table; width: 100%">
            <div class="create-poll-option-text-input-div">
              <input type="text" class="form-control form_input_field"
                     id="option-4" name="option" placeholder="Your poll option">

            </div>
            <div class="create-poll-option-image-input-div">
              <input type="file"
                     class="image-asset-file-system-upload"
                     name="image" id="image-asset-file-system-upload-4" style="position: fixed; top: -1000px">
              <input type="button" value="Choose File">
              <a href="#">
                <div class="poll-option-image" id="poll-option-image-4"
                     style="
                         -webkit-clip-path: circle(50% at 50% 50%);
                         border-radius: 50%;
                         clip-path: circle(50% at 50% 50%);
                         background-image: url('src/assets/upload-pic-icon-orange.png');
                         background-size: cover; background-repeat: no-repeat;
                         background-position: 50% 50%; height: 32px; width: 32px; float: right;">

                </div>
              </a>
            </div>

          </div>

        </div>
        <div class="form-group">
          <label for="option-5" class="control-label from_label_text">
            <span style="color: white">Enter</span>
            <span style="color: #FF9E13">Option 1</span>
            <span class="form-item-error-marker-hidden" id="option-error-marker-id-5">X</span>
          </label>
          <div style="display: table; width: 100%">
            <div class="create-poll-option-text-input-div">
              <input type="text" class="form-control form_input_field"
                     id="option-5" name="option" placeholder="Your poll option">

            </div>
            <div class="create-poll-option-image-input-div">
              <input type="file"
                     class="image-asset-file-system-upload"
                     name="image" id="image-asset-file-system-upload-5" style="position: fixed; top: -1000px">
              <input type="button" value="Choose File">
              <a href="#">
                <div class="poll-option-image" id="poll-option-image-5"
                     style="
                         -webkit-clip-path: circle(50% at 50% 50%);
                         border-radius: 50%;
                         clip-path: circle(50% at 50% 50%);
                         background-image: url('src/assets/upload-pic-icon-orange.png');
                         background-size: cover; background-repeat: no-repeat;
                         background-position: 50% 50%; height: 32px; width: 32px; float: right;">

                </div>
              </a>
            </div>

          </div>

        </div>
        <div class="form-group">
          <a href="#" class="ccp-form-add-option-link">
            <span class="ccp-add-plus-sign">+</span>
            <span style="color: white">Add</span>
            <span style="color: #ff9e13">Option</span>
          </a>
        </div>
        <div class="form-group">
          <input type="submit" name="submit-custom-poll-button" id="ccp-form-submit-button" value="Create Poll">
        </div>

      </div>

    </form>
  </div>

</form>
