.form-group{
  margin-bottom: 0;
}
div{
  display: block;
}
.form_item_spacer{
  margin-bottom: 20px;
}
label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  cursor: default;
}
.form_label_text{
  text-transform: uppercase;
  font-family: days-font;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
}
.form_input_field{
  position: inherit;
  height: 32px;
  width: 100%;
  bottom: -1px;
  text-indent: 10px;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  border: 0 solid #000;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}
.form-control{
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  display: block;
  font-size: 14px;
  line-height: 1.42857143;
  /*border: 1px solid #ccc;*/
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.form-control, output{
  display: block;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
::placeholder{
  color: #8d8c8c;
}
input{
  /*font-family: inherit;*/
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  font: 400 13.3333px Arial;
  /*color: #555;*/
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-shadow: none;
  text-align: start;
  cursor: text;
  -webkit-rtl-ordering: logical;

}

/*-----------------------------------------------*/

.create-poll-option-text-input-div{
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  padding-right: 10px;
}
.create-poll-option-image-input-div{
  display: table-cell;
  float: right;
  vertical-align: middle;


}
a{
  color: #337ab7;
  text-decoration: none;
}
.submit-button{
  bottom: 0;
  margin-top: 10px;
  padding: 6px 15px;
  color: #fff;
  font-family: days-font;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 2px solid #707785;
  background-color: #3e4b5d;
}

.form-options{
  display: table;
}
.ccp-form-add-option-link{
  text-transform: uppercase;
  font-family: days-font;
  font-style: normal;
  font-size: 12px;
  text-decoration: none;
}
.ccp-form-add-plus-sign{
  color: #ff9e13;
  font-size: 14px;
}
.form-item-error{
  font-family: days-font;
  font-size: 12px;
  color: red;
  margin-left: 5px
}
