<!--<form class="create-poll-form-class" id="create-poll-form-id">-->
<!--  <div>-->
<!--    <form>-->
<!--      <div class="form-group">-->
<!--        <div class="form_item_spacer">-->
<!--          <label class="control-label form_label_text" for="create-poll-form-id">-->
<!--            <span style="color: white">Enter</span>-->
<!--            <span style="color: #FF9E13">Poll Question</span>-->
<!--            <span class="form-item-error-marker-hidden" id="create-poll-question-error-marker-id">X</span>-->
<!--          </label>-->
<!--          <input type="text" class="form-control"-->
<!--                 id="create-poll-question-id" name="question" placeholder="Your poll question">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="option-1" class="control-label from_label_text">-->
<!--            <span style="color: white">Enter</span>-->
<!--            <span style="color: #FF9E13">Option 1</span>-->
<!--            <span class="form-item-error-marker-hidden" id="option-error-marker-id-1">X</span>-->
<!--          </label>-->
<!--          <div style="display: table; width: 100%">-->
<!--            <div class="create-poll-option-text-input-div">-->
<!--              <input type="text" class="form-control form_input_field"-->
<!--                     id="option-1" name="option" placeholder="Your poll option">-->

<!--            </div>-->
<!--            <div class="create-poll-option-image-input-div">-->
<!--              <input type="file"-->
<!--                     class="image-asset-file-system-upload"-->
<!--                     name="image" id="image-asset-file-system-upload-1" style="position: fixed; top: -1000px">-->
<!--              <input type="button" value="Choose File">-->
<!--              <a href="#">-->
<!--                <div class="poll-option-image" id="poll-option-image-1"-->
<!--                     style="-->
<!--                         -webkit-clip-path: circle(50% at 50% 50%);-->
<!--                         border-radius: 50%;-->
<!--                         clip-path: circle(50% at 50% 50%);-->
<!--                         background-image: url('src/assets/upload-pic-icon-orange.png');-->
<!--                         background-size: cover; background-repeat: no-repeat;-->
<!--                         background-position: 50% 50%; height: 32px; width: 32px; float: right;">-->

<!--                </div>-->
<!--              </a>-->
<!--            </div>-->

<!--          </div>-->

<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="option-2" class="control-label from_label_text">-->
<!--            <span style="color: white">Enter</span>-->
<!--            <span style="color: #FF9E13">Option 1</span>-->
<!--            <span class="form-item-error-marker-hidden" id="option-error-marker-id-2">X</span>-->
<!--          </label>-->
<!--          <div style="display: table; width: 100%">-->
<!--            <div class="create-poll-option-text-input-div">-->
<!--              <input type="text" class="form-control form_input_field"-->
<!--                     id="option-2" name="option" placeholder="Your poll option">-->

<!--            </div>-->
<!--            <div class="create-poll-option-image-input-div">-->
<!--              <input type="file"-->
<!--                     class="image-asset-file-system-upload"-->
<!--                     name="image" id="image-asset-file-system-upload-2" style="position: fixed; top: -1000px">-->
<!--              <input type="button" value="Choose File">-->
<!--              <a href="#">-->
<!--                <div class="poll-option-image" id="poll-option-image-2"-->
<!--                     style="-->
<!--                         -webkit-clip-path: circle(50% at 50% 50%);-->
<!--                         border-radius: 50%;-->
<!--                         clip-path: circle(50% at 50% 50%);-->
<!--                         background-image: url('src/assets/upload-pic-icon-orange.png');-->
<!--                         background-size: cover; background-repeat: no-repeat;-->
<!--                         background-position: 50% 50%; height: 32px; width: 32px; float: right;">-->

<!--                </div>-->
<!--              </a>-->
<!--            </div>-->

<!--          </div>-->

<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="option-3" class="control-label from_label_text">-->
<!--            <span style="color: white">Enter</span>-->
<!--            <span style="color: #FF9E13">Option 1</span>-->
<!--            <span class="form-item-error-marker-hidden" id="option-error-marker-id-3">X</span>-->
<!--          </label>-->
<!--          <div style="display: table; width: 100%">-->
<!--            <div class="create-poll-option-text-input-div">-->
<!--              <input type="text" class="form-control form_input_field"-->
<!--                     id="option-3" name="option" placeholder="Your poll option">-->

<!--            </div>-->
<!--            <div class="create-poll-option-image-input-div">-->
<!--              <input type="file"-->
<!--                     class="image-asset-file-system-upload"-->
<!--                     name="image" id="image-asset-file-system-upload-3" style="position: fixed; top: -1000px">-->
<!--              <input type="button" value="Choose File">-->
<!--              <a href="#">-->
<!--                <div class="poll-option-image" id="poll-option-image-3"-->
<!--                     style="-->
<!--                         -webkit-clip-path: circle(50% at 50% 50%);-->
<!--                         border-radius: 50%;-->
<!--                         clip-path: circle(50% at 50% 50%);-->
<!--                         background-image: url('src/assets/upload-pic-icon-orange.png');-->
<!--                         background-size: cover; background-repeat: no-repeat;-->
<!--                         background-position: 50% 50%; height: 32px; width: 32px; float: right;">-->

<!--                </div>-->
<!--              </a>-->
<!--            </div>-->

<!--          </div>-->

<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="option-4" class="control-label from_label_text">-->
<!--            <span style="color: white">Enter</span>-->
<!--            <span style="color: #FF9E13">Option 1</span>-->
<!--            <span class="form-item-error-marker-hidden" id="option-error-marker-id-4">X</span>-->
<!--          </label>-->
<!--          <div style="display: table; width: 100%">-->
<!--            <div class="create-poll-option-text-input-div">-->
<!--              <input type="text" class="form-control form_input_field"-->
<!--                     id="option-4" name="option" placeholder="Your poll option">-->

<!--            </div>-->
<!--            <div class="create-poll-option-image-input-div">-->
<!--              <input type="file"-->
<!--                     class="image-asset-file-system-upload"-->
<!--                     name="image" id="image-asset-file-system-upload-4" style="position: fixed; top: -1000px">-->
<!--              <input type="button" value="Choose File">-->
<!--              <a href="#">-->
<!--                <div class="poll-option-image" id="poll-option-image-4"-->
<!--                     style="-->
<!--                         -webkit-clip-path: circle(50% at 50% 50%);-->
<!--                         border-radius: 50%;-->
<!--                         clip-path: circle(50% at 50% 50%);-->
<!--                         background-image: url('src/assets/upload-pic-icon-orange.png');-->
<!--                         background-size: cover; background-repeat: no-repeat;-->
<!--                         background-position: 50% 50%; height: 32px; width: 32px; float: right;">-->

<!--                </div>-->
<!--              </a>-->
<!--            </div>-->

<!--          </div>-->

<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="option-5" class="control-label from_label_text">-->
<!--            <span style="color: white">Enter</span>-->
<!--            <span style="color: #FF9E13">Option 1</span>-->
<!--            <span class="form-item-error-marker-hidden" id="option-error-marker-id-5">X</span>-->
<!--          </label>-->
<!--          <div style="display: table; width: 100%">-->
<!--            <div class="create-poll-option-text-input-div">-->
<!--              <input type="text" class="form-control form_input_field"-->
<!--                     id="option-5" name="option" placeholder="Your poll option">-->

<!--            </div>-->
<!--            <div class="create-poll-option-image-input-div">-->
<!--              <input type="file"-->
<!--                     class="image-asset-file-system-upload"-->
<!--                     name="image" id="image-asset-file-system-upload-5" style="position: fixed; top: -1000px">-->
<!--              <input type="button" value="Choose File">-->
<!--              <a href="#">-->
<!--                <div class="poll-option-image" id="poll-option-image-5"-->
<!--                     style="-->
<!--                         -webkit-clip-path: circle(50% at 50% 50%);-->
<!--                         border-radius: 50%;-->
<!--                         clip-path: circle(50% at 50% 50%);-->
<!--                         background-image: url('src/assets/upload-pic-icon-orange.png');-->
<!--                         background-size: cover; background-repeat: no-repeat;-->
<!--                         background-position: 50% 50%; height: 32px; width: 32px; float: right;">-->

<!--                </div>-->
<!--              </a>-->
<!--            </div>-->

<!--          </div>-->

<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <a href="#" class="ccp-form-add-option-link">-->
<!--            <span class="ccp-add-plus-sign">+</span>-->
<!--            <span style="color: white">Add</span>-->
<!--            <span style="color: #ff9e13">Option</span>-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <input type="submit" name="submit-custom-poll-button" id="ccp-form-submit-button" value="Create Poll">-->
<!--        </div>-->

<!--      </div>-->

<!--    </form>-->
<!--  </div>-->

<!--</form>-->
<!--------------------------------------------------------------------------------------------------------------->
<!--<div>-->
<!--  <form [formGroup]="createPollForm">-->
<!--    <div class="form-group">-->
<!--      <div class="form_item_spacer">-->
<!--        <label class="control-label form_label_text">-->
<!--          <span style="color: white">Enter</span>-->
<!--          <span style="color: #FF9E13; margin-left: 5px">Poll question</span>-->
<!--          <span></span>-->
<!--        </label>-->
<!--        <input type="text" placeholder="Your poll question" formControlName="enterPollQuestion"-->
<!--               class="form-control form_input_field">-->
<!--      </div>-->
<!--      <div class="form_item_spacer">-->
<!--        <label class="control-label form_label_text">-->
<!--          <span style="color: white">Enter</span>-->
<!--          <span style="margin-left: 5px">option 1</span>-->
<!--          <span></span>-->
<!--        </label>-->
<!--        <div style="display: table; width: 100%">-->
<!--          <div class="create-poll-option-text-input-div">-->
<!--            <input placeholder="Your poll option" formControlName="optionOne" class="form-control form_input_field">-->
<!--          </div>-->
<!--          <div class="create-poll-option-image-input-div">-->
<!--            <input type="file"-->
<!--                   class="image-asset-file-system-upload"-->
<!--                   name="image" id="image-asset-file-system-upload-1" style="position: fixed; top: -1000px;">-->
<!--            <input type="button" value="Choose File"class="poll-option-image" id="poll-option-image-1"-->
<!--                   style="">-->

<!--&lt;!&ndash;              <div class="poll-option-image" id="poll-option-image-1"&ndash;&gt;-->
<!--&lt;!&ndash;                   style="&ndash;&gt;-->
<!--&lt;!&ndash;                   -webkit-clip-path: circle(50% at 50% 50%);&ndash;&gt;-->
<!--&lt;!&ndash;                   border-radius: 50%;&ndash;&gt;-->
<!--&lt;!&ndash;                   clip-path: circle(50% at 50% 50%);&ndash;&gt;-->
<!--&lt;!&ndash;                   background-image: url('assets/upload-pic-icon-orange.png');&ndash;&gt;-->
<!--&lt;!&ndash;                   background-size: cover; background-repeat: no-repeat;&ndash;&gt;-->
<!--&lt;!&ndash;                   background-position: 50% 50%; height: 32px; width: 32px; float: right;">&ndash;&gt;-->

<!--&lt;!&ndash;              </div>&ndash;&gt;-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form_item_spacer">-->
<!--        <label class="control-label form_label_text">-->
<!--          <span style="color: white">Enter</span>-->
<!--          <span style="margin-left: 5px">option 2</span>-->
<!--          <span></span>-->
<!--        </label>-->
<!--        <input placeholder="Your poll option" formControlName="optionTwo" class="form-control form_input_field">-->
<!--      </div>-->
<!--      <div class="form_item_spacer">-->
<!--        <label class="control-label form_label_text">-->
<!--          <span style="color: white">Enter</span>-->
<!--          <span>option 3</span>-->
<!--        </label>-->
<!--        <input placeholder="Your poll option" formControlName="optionThree" class="form-control form_input_field">-->

<!--      </div>-->
<!--      <div class="form_item_spacer">-->
<!--        <label class="control-label form_label_text">-->
<!--          <span style="color: white">Enter</span>-->
<!--          <span style="margin-left: 5px">option 4</span>-->
<!--        </label>-->
<!--        <input placeholder="Your poll option" formControlName="optionFour" class="form-control form_input_field">-->

<!--      </div>-->
<!--      <div class="form_item_spacer">-->
<!--        <label class="control-label form_label_text">-->
<!--          <span style="color: white">Enter</span>-->
<!--          <span style="margin-left: 5px">option 5</span>-->
<!--        </label>-->
<!--        <input placeholder="Your poll option" formControlName="optionFive" class="form-control form_input_field">-->

<!--      </div>-->
<!--    </div>-->

<!--  </form>-->

<!--</div>-->
<!---------------------------------------------------------------------------------------------------------------->
<form [formGroup]="mainForm" (ngSubmit)="createPoll()">
  <div class="form-group">
    <div class="form_item_spacer">
      <label class="control-label form_label_text">
        <span style="color: white">Enter</span>
        <span style="color: #FF9E13; margin-left: 5px">Poll Question</span>
        <span *ngIf="question.invalid && (question.touched || question.dirty)"
              class="form-item-error">X</span>
      </label>
      <input type="text" formControlName="enterPollQuestion" placeholder="Your poll question"
             class="form-control form_input_field" required>
    </div>
<ng-container formArrayName="options">
    <div *ngFor="let op of options.controls; index as i">
      <label class="control-label form_label_text">
        <span style="color: white">Enter</span>
        <span style="color: #FF9E13; margin-left: 5px">Option {{i + 1}}</span>
        <span *ngIf="op.invalid && (op.touched || op.dirty)"
              class="form-item-error">X</span>
      </label>
      <div style="display: table; width: 100%" class="form_item_spacer">
        <div class="create-poll-option-text-input-div for">
          <input type="text" placeholder="Your poll option" [formControlName]="i" class="form-control form_input_field">
        </div>
        <div class="create-poll-option-image-input-div">
          <label for="file-input">
            <img src="assets/upload-pic-icon-orange.png" style="cursor: pointer">
          </label>
          <input type="file" id="file-input" hidden>


        </div>
      </div>
    </div>
    <div class="form-group">
      <a (click)="addOption()" style="cursor: pointer" class="ccp-form-add-option-link">
        <span class="ccp-form-add-plus-sign">+</span>
        <span style="color: white; margin-left: 5px">Add</span>
        <span style="color:#FF9E13; margin-left: 5px">Option</span>
      </a>

    </div>
</ng-container>

    <div class="form-group">
      <input type="submit"  value="Create Poll" class="submit-button" >
    </div>
  </div>

</form>
