<ul class="nav justify-content-center">
  <li class="nav-item"><a routerLink="/" routerLinkActive="activebutton">CREATE POLL</a></li>
  <div class="active">:</div>
  <li class="nav-item"><a  routerLinkActive="activebutton" (click)="helpCom()">HELP</a></li>

<!--  <div class="active">:</div>-->
<!--  <li class="nav-item"><a routerLink="/help" routerLinkActive="activebutton">HELP</a></li>-->


  <div class="active">:</div>
  <li class="nav-item"><a routerLink="/about" routerLinkActive="activebutton">ABOUT</a></li>
  <div class="active">:</div>
  <li class="nav-item"><a routerLink="/learn_more" routerLinkActive="activebutton">MORE</a></li>
  <div class="active">:</div>
  <li class="nav-item"><a routerLink="/public_polls" routerLinkActive="activebutton">PUBLIC
    POLLS</a></li>
</ul>
<div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>



