<app-contatiner class="generic_title_color" [message]="moreMessage">
  <div>
    <label class="about-question">
      QuickPoll and Approval Voting
    </label>
    <label class="about-answer">
      MobPoll's QuickPoll app uses a voting method called approval voting.
      With approval voting, voters may select ALL options that they approve of.
      <br>
      <br>
      Approval voting is superior to commonly-used voting methods such as plurality.
      In plurality voting, voters are only allowed to select one item from a
      poll's list of options. Unlike plurality voting, approval voting does not
      force voters to betray their favorite option in favor of a dishonest,
      strategic choice.
      <br>
      <br>
      To get involved or learn more about approval voting and other electoral reforms,
      find us on Facebook at
      <a class="about-message-link" style="font-family: Verdana; font-size: 12px; font-weight: normal"
         href="https://www.facebook.com/MakeVotingCount">Make Voting Count</a>
      and
      <a class="about-message-link" style="font-family: Verdana; font-size: 12px; font-weight: normal"
         href="https://www.facebook.com/MobPoll">MobPoll</a>.
      <br>
      <br>
      For even more information about approval voting, check out the resources available
      from our friends at
      <a class="about-message-link" style="font-family: Verdana; font-size: 12px; font-weight: normal"
         href="https://electionscience.org">The Center for Election Science</a>.
    </label>

  </div>
</app-contatiner>
