
a:hover {
  color: #3e4b5d;
}

a {
  /*background-color: #3FA9F5;*/
  font-family: Helvetica;
  font-size: 11px;
  font-weight: 700;
  text-shadow: 0px 0px rgb(0, 0, 0);
  text-decoration: none;
  outline: 0;
  color: rgb(255, 255, 255);
  padding: 5px 2px;
}

.activebutton:focus {
  color: #3e4b5d;
}

.active {
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold;
  color: rgb(255, 255, 255);

}

div.active {
  padding: 5px 2px;
}


/*
**********************************************************************************
 */

ul {
  margin: 0 auto;
}

.navbar {
  border-radius: 0;
  min-height: 30px;
  border: 0px;
  padding: 0;
  margin-bottom: 20px;
}

.navbar-nav {
  margin: 0px;
}

.navbar .nav {
  float: none;
  text-align: center;
}

.navbar .nav > li {
  float: none;
  display: inline-block;
  padding: 5px 2px;
  margin: 0
}

.navbar-default {
  background: #3FA9F5;
}

.navbar-default .nav > .currently-selected > a,
.navbar-default .nav > .currently-selected > a:hover,
.navbar-default .nav > .currently-selected > a:focus {
  background-color: #3FA9F5;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0px 0px rgb(0, 0, 0);
  text-decoration: none;
  color: #3E4B5D;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 2px;
  padding-right: 2px;
  outline: 0;
}

.navbar-default .nav > .active > a,
.navbar-default .nav > .active > a:focus {
  background-color: #3FA9F5;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0px 0px rgb(0, 0, 0);
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 2px;
  padding-right: 2px;
  outline: 0;
}


.navbar-default .nav > .active > a:hover {
  background-color: #3FA9F5;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0px 0px rgb(0, 0, 0);
  text-decoration: none;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 2px;
  padding-right: 2px;
  outline: 0;
  color: #3E4B5D;
}
