.generic_title_color {
  color: #bdccd4;
}
.public-poll-question-anchor:link, .public-poll-question-anchor:visited{
  text-decoration: none;
  font-family: days-font;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #73ca0d;
  word-break: normal;
}
.public-poll-question-analytics-label{
  text-decoration: none;
  font-family: days-font;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  word-break: normal;
}
.take-poll-option{
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
}
.poll-option-image{
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 50px;
  width: 50px;
  background-image: url('../../assets/speech_bubble.png');
}
