<app-contatiner class="generic_title_color" [message]="termsOfService">
  <p class="para-p">
    Welcome to MobPoll, herein referred to as the Service.
    The following Terms of Use apply when you view or use the Service through our website
    or through its embedded Facebook application, through any medium or device. By accessing
    or using the Service, you signify your agreement to these Terms of Use.
    If you do not agree to these Terms of Use, you may not access or use the Service.
    MobPoll is a web application developed by Make Voting Count Inc.,
    a New York City-based non-profit organization, herein referred to as the Company.
  </p>
</app-contatiner>
