<app-contatiner class="generic_title_color" [message]="termsOfService">
  <p class="para-p">
    Welcome to MobPoll, herein referred to as the Service.
    The following Terms of Use apply when you view or use the Service through our website
    or through its embedded Facebook application, through any medium or device. By accessing
    or using the Service, you signify your agreement to these Terms of Use.
    If you do not agree to these Terms of Use, you may not access or use the Service.
    MobPoll is a web application developed by Make Voting Count Inc.,
    a New York City-based non-profit organization, herein referred to as the Company.
  </p>
  <h3 class="header-h3">PRIVACY POLICY</h3>
  <p class="para-p">
    The Company respects the privacy of its Service users. Please refer to the Company's
    privacy policy at the end of this document which explains how we collect, use, and
    disclose information that pertains to your privacy. When you access or use the Service,
    you signify your agreement to this Privacy Policy.
  </p>
  <h3 class="header-h3">ABOUT THE SERVICE</h3>
  <p class="para-p">
    The Service allows you to create, share, and participate in approval style polls.
  </p>


</app-contatiner>
