.poll-question{
  overflow: hidden;
  margin-left: 0;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 700;
  color: #73ca0d;
  text-decoration: none;
  word-break: normal;
}
.poll-results-options-div{
  width: 100%;
  display: table-cell;
}
.take-poll-options-label{
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  padding-top: 3px;
  word-break: break-all;
}
.td-bar{
  width: 59.3%;
  height: 10px;
  background-image: none;
  background-color: rgb(65, 167, 251);
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  min-width: 20px;
}
.td-bar-percentage{
  font-family: Verdana;
  font-size: 15px;
  color: #fff;
  margin-left: 5px;
  padding-left: 5px;
}
td{
  display: table-cell;
  padding: 0;
  vertical-align: inherit;
}
.poll-states-label{
  overflow: hidden;
  margin-left: 0;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  word-break: normal;
  color: #3fa9f5;
  margin-right: 8px;
}

.poll-number-label{
  overflow: hidden;
  margin-left: 0;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  word-break: normal;
  color: #73ca0d;
}
