/*.modal-content{*/
/*  !*display: inherit;*!*/
/*  !*position: absolute;*!*/
/*  height: auto;*/
/*  !*width: 375px;*!*/
/*  z-index: 450;*/
/*  top: 50%;*/
/*  left: 0;*/
/*  right: 0;*/
/*  !*margin-top: 48%;*!*/
/*  !*margin-left: 10%;*!*/
/*  background-color: #3e4b5d;*/
/*  border: 2px solid red;*/
/*  border-radius: 20px;*/

/*}*/
/*.modal.fade .modal-dialog{*/
/*  -webkit-transform: inherit;*/
/*}*/
/*.modal-body{*/

/*}*/
.title{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: days-font;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  color: #3fa9f5;
}
/*label{*/
/*  display: inline-block;*/
/*  max-width: 100%;*/
/*  margin-bottom: 5px;*/
/*  font-weight: 700;*/
/*}*/

/*.alert-box-message{*/
/*  margin-bottom: 0;*/
/*  margin-left: 20px;*/
/*  margin-right: 20px;*/
/*  font-size: 13px;*/
/*  font-weight: 700;*/
/*  letter-spacing: 1px;*/
/*  color: #fff;*/
/*}*/
/*.alert-box-message li{*/
/*  margin-bottom: 18px;*/
/*}*/
/*li{*/
/*  display: list-item;*/
/*  text-align: -webkit-match-parent;*/
/*}*/
.alert-box-button-container{
  margin-top: 23px;
  margin-bottom: 23px;
  margin-left: 20px;
  text-align: left;
}
.alert-box-button{
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 6px 15px;
  font-family: days-font;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #3e4b5d;

  color: #fff;
  text-align: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 2px solid #6f7886;
}

input{
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
}
/*.modal-content {*/
/*  !*position: inherit;*!*/
/*  !*display: flex;*!*/
/*  !*flex-direction: column;*!*/
/*  !*width: 100%;*!*/
/*  !*pointer-events: auto;*!*/
/*  !*!*background-color: #3e4b5d;*!*!*/
/*  !*background-clip: padding-box;*!*/
/*  !*border: 2px solid rgba(0, 0, 0, 0.2);*!*/
/*  !*!*border-radius: 0.3rem;*!*!*/
/*  !*outline: 0;*!*/
/*  !*border-radius: 20px;*!*/
/*  margin-right: 80%;*/
/*}*/
