.title{
  margin-top: 15px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 20px;
  text-align: left;
  font-family: days-font;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #3fa9f5;
  text-transform: uppercase;
}
label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.alert-box-button-container{
  padding: 15px;
  text-align: left;
}
.alert-box-button{
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 6px 15px;
  font-family: days-font;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #3e4b5d;
  color: #fff;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #6f7886;
}

button{
  padding: 6px 5px;
  height: 33px;
  width: 85px;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  overflow: visible;
  margin: 0;
  font: inherit;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  align-items: flex-start;
  color: #fff;
}

